.status {
  color: gray;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
}

.board {
  display: grid;
  margin-right: 800px;
}
.square {
  width: 120px;
  height: 110px;
}

.square:hover {
  background-color: rgba(255, 255, 0, 0.3);
}

.square:active {
  background-color: rgba(255, 255, 0, 0.6);
}

.game-info {
  float: right;
  margin-left: 20px;
}

.game-info ol {
  display: inline-flex flex;
  align-self: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -340px;
  margin-right: 600px;
  font-size: 40px;
}

.game-info li {
  justify-content: center;
  align-self: center;
  /* margin-bottom: 5px; */
}

.game-info li:hover {
  background-color: #f0f0f0;
}

.game-info button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 23px;
}
